variaveis.py
**/.DS_Store
**/node_modules
db.sqlite3
/dist
**/venv
**/__pycache__
__pycache__
.idea

**/*.log
**/*.pot
**/*.pyc

*.iws
*.iml

*.pid
*.seed
*.pid.lock
.npm

**/*.bak

.yarn-integrity

*.py[cod]
*$py.class

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.python-version


# local env files
**/.env.local
**/.env.*.local

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history